In [1]:
from LiveAMP import *
FLAGS().run()
self = AMP(**kwargs)
# self.get_terms()
# self.get_raw_df()
# self.get_reg_df()
# self.get_X()
# self.get_Y()
# self.get_mlt()
# self.get_transformed()
# self.get_imputed()
# self.get_targets()
# self.get_predicted()
# self.get_optimal()
# self.get_details()
self.get_summary()
# self.get_params()
# self.push()
# self.get_anonymized()

summary, all;

complete: 1 / 1 = 100.00%; elapsed = 3.23 min; remaining = 0.00 min @ 3.2307 min per iteration

In [3]:
S = self['summary']['all']
describe = [pctl(0),pctl(25),pctl(50),pctl(75),pctl(100)]
grp = ['crse_code','levl_desc','styp_desc','train_desc']
E = S.query(f"pred_code==202308").rename(columns={'error_pct':'2023 error_pct'}).groupby(self.mlt_grp)[['2023 error_pct']].agg(describe).droplevel('pred_code')
P = S.query(f"pred_code==202408").rename(columns={'predicted':'2024 predicted'}).groupby(self.mlt_grp)[['2024 predicted']].agg(describe).droplevel('pred_code')
A = S.query(f"pred_code==202308").rename(columns={'actual':'2023 actual'}).groupby(self.mlt_grp)[['2023 actual']].agg([pctl(50)]).droplevel('pred_code')
Q = E.join(A).join(P)
Q['increase'] = Q["2024 predicted"," 50%"] - Q["2023 actual"," 50%"]
Q['increase_percent'] = 100 * Q['increase'] / Q["2023 actual"," 50%"]
Q = Q.round(1).query("styp_code=='n'")
Q
write(self.root / 'amp_projections_2024_04_10.csv', Q)

                              2023 error_pct                           \
                                          0%    25%   50%   75%  100%
crse_code levl_code styp_code
_allcrse  ug        n                    0.4    1.0   6.8   8.4   9.1
agec2317  ug        n                   -2.5    0.5   2.6   5.5   9.8
ansc1119  ug        n                   -2.0   -0.7  -0.2   0.0   1.3
ansc1319  ug        n                   -0.9   -0.6   0.7   0.9   2.3
arts1301  ug        n                   -2.8    1.9  15.7  44.5  48.6
biol1406  ug        n                   -0.8    0.7   1.6   9.7  11.3
biol1407  ug        n                   -4.1   -4.1   0.0   3.7   6.9
biol2401  ug        n                   -2.5   -0.9  -0.3   0.2   2.3
biol2402  ug        n                  -13.0   -4.8   0.0   1.4   6.3
busi1301  ug        n                   -1.8    0.5   3.9  16.7  18.9
chem1111  ug        n                   -3.9   -1.6   0.0   2.4   4.9
chem1302  ug        n                   -2.7    2.7   5.8   8.6   9.8
chem1311  ug        n                   -5.6   -3.4  -1.2   1.2   3.6
comm1311  ug        n                   -0.6    4.1   6.2   9.5  13.6
comm1315  ug        n                   -2.4    0.0   4.7  11.1  13.3
comm2302  ug        n                  -18.3  -14.0 -10.8  -1.7   3.3
crij1301  ug        n                   -4.8   -1.2   1.3   4.7   9.0
dram1310  ug        n                   -6.5   -2.1   2.1  13.9  23.4
econ2301  ug        n                   -2.2   -2.2   0.0   3.1   8.2
engl1301  ug        n                   -2.8    0.6   4.6   6.7   9.1
engl1302  ug        n                   -2.5    1.2   6.1   9.9  14.1
geol1403  ug        n                   -1.1    1.1  15.8  21.4  24.1
geol1404  ug        n                    0.0    0.0  12.2  27.0  27.0
geol1407  ug        n                   -2.5    2.5  19.7  62.5  70.8
geol1408  ug        n                   -1.2   -1.2   0.0   9.2  11.9
govt2305  ug        n                   -3.3    2.6  14.7  26.5  33.9
govt2306  ug        n                   -2.3    1.3   5.2  10.4  17.2
hist1301  ug        n                   -2.2   -0.6   5.5  13.9  15.8
hist1302  ug        n                   -3.9   -2.2   0.0   1.7   3.7
huma1315  ug        n                  -11.7   -7.1  -5.8   0.0   0.0
math1314  ug        n                   -2.7   -0.5   1.1   6.3   8.5
math1316  ug        n                  -17.8  -10.9 -10.0  -3.8   3.8
math1324  ug        n                   -0.9    1.4  15.5  22.7  25.6
math1342  ug        n                  -12.2   -7.7  -4.7  -2.6   3.1
math2412  ug        n                   -1.3    1.6   5.9   8.4  13.2
math2413  ug        n                   -1.5    1.5  10.9  25.3  33.0
musi1310  ug        n                   -9.2   -5.1  -0.3   9.0  27.9
musi1311  ug        n                   -7.4   -5.2   0.0  15.5  15.5
phil1301  ug        n                   -4.4   -0.0   2.0  20.3  29.2
phil2303  ug        n                   -9.1   -9.1   0.0  21.2  21.2
psyc2301  ug        n                   -1.5    0.3   2.9   6.4   8.6
soci1301  ug        n                   -3.4    0.0  23.8  26.3  32.0
univ0200  ug        n                   -6.2   -1.2   1.3   3.8   9.1
univ0204  ug        n                   -5.7   -0.6   3.0   5.8  14.4
univ0301  ug        n                   -5.0   -1.1   0.7   2.9   5.5
univ0314  ug        n                  -18.1  -13.3   0.5   2.1   3.2
univ0342  ug        n                 -100.0 -100.0   0.0   5.9  12.8

                              2023 actual 2024 predicted                  \
                                      50%             0%     25%     50%
crse_code levl_code styp_code
_allcrse  ug        n              2700.0         3001.9  3049.2  3202.4
agec2317  ug        n               212.0          248.0   264.6   270.7
ansc1119  ug        n               324.0          357.9   358.9   362.6
ansc1319  ug        n               372.0          472.6   476.9   480.7
arts1301  ug        n               110.0          228.3   237.6   270.5
biol1406  ug        n               678.0          797.3   816.0   829.3
biol1407  ug        n                37.0           62.4    67.3    69.6
biol2401  ug        n               469.0          598.3   606.9   614.1
biol2402  ug        n                23.0           52.0    63.0    65.4
busi1301  ug        n               249.0          332.8   347.5   362.2
chem1111  ug        n                99.0          139.2   144.6   146.1
chem1302  ug        n                37.0           32.0    34.9    36.3
chem1311  ug        n               102.0          131.0   137.8   140.6
comm1311  ug        n               404.0          526.8   542.4   556.2
comm1315  ug        n               270.0          356.1   373.1   387.3
comm2302  ug        n                74.0          127.3   134.8   138.6
crij1301  ug        n                91.0           93.2    99.8   103.4
dram1310  ug        n                59.0          129.1   133.8   138.9
econ2301  ug        n                27.0           47.5    48.8    50.2
engl1301  ug        n              1347.0         1642.4  1679.2  1767.0
engl1302  ug        n                90.0          101.1   105.6   110.2
geol1403  ug        n                95.0           91.8    97.1   111.2
geol1404  ug        n                21.0           38.8    42.0    45.4
geol1407  ug        n                42.0           73.5    77.7    90.6
geol1408  ug        n                43.0           59.5    62.7    65.8
govt2305  ug        n               170.0          438.9   471.1   526.7
govt2306  ug        n               342.0          474.4   488.7   508.7
hist1301  ug        n               416.0          481.9   514.3   540.8
hist1302  ug        n                71.0          149.4   156.5   159.8
huma1315  ug        n                25.0           29.0    29.4    30.2
math1314  ug        n               711.0          841.2   877.9   893.8
math1316  ug        n                33.0           29.4    33.9    35.4
math1324  ug        n               253.0          354.7   368.9   423.8
math1342  ug        n               215.0          396.8   414.8   422.1
math2412  ug        n               337.0          335.9   358.2   371.5
math2413  ug        n                84.0          141.3   147.6   160.9
musi1310  ug        n                94.0          203.1   221.5   230.2
musi1311  ug        n                49.0           46.4    48.6    50.1
phil1301  ug        n                78.0          113.6   120.4   125.7
phil2303  ug        n                22.0           26.0    27.0    29.2
psyc2301  ug        n               372.0          485.0   500.4   515.9
soci1301  ug        n                67.0          147.6   153.3   187.6
univ0200  ug        n               141.0          305.4   323.7   333.0
univ0204  ug        n               294.0          367.8   386.1   397.8
univ0301  ug        n               334.0          492.0   507.3   516.9
univ0314  ug        n               105.0          158.0   166.0   189.4
univ0342  ug        n                50.0            0.0     0.0    67.5

                                              increase increase_percent
                                  75%    100%
crse_code levl_code styp_code
_allcrse  ug        n          3255.8  3288.5    502.4             18.6
agec2317  ug        n           280.4   295.2     58.7             27.7
ansc1119  ug        n           365.3   373.8     38.6             11.9
ansc1319  ug        n           487.7   491.0    108.7             29.2
arts1301  ug        n           336.0   346.5    160.5            145.9
biol1406  ug        n           892.1   915.2    151.3             22.3
biol1407  ug        n            73.1    79.1     32.6             88.2
biol2401  ug        n           622.1   636.6    145.1             30.9
biol2402  ug        n            71.2    75.6     42.4            184.2
busi1301  ug        n           401.3   416.0    113.2             45.5
chem1111  ug        n           150.3   155.7     47.1             47.6
chem1302  ug        n            40.2    41.7     -0.7             -1.8
chem1311  ug        n           144.5   148.1     38.6             37.8
comm1311  ug        n           570.9   599.5    152.2             37.7
comm1315  ug        n           411.0   425.4    117.3             43.4
comm2302  ug        n           154.2   157.9     64.6             87.3
crij1301  ug        n           106.2   115.5     12.4             13.7
dram1310  ug        n           156.8   169.4     79.9            135.4
econ2301  ug        n            51.5    54.3     23.2             85.8
engl1301  ug        n          1792.1  1835.6    420.0             31.2
engl1302  ug        n           115.0   123.7     20.2             22.4
geol1403  ug        n           114.9   123.1     16.2             17.1
geol1404  ug        n            50.7    53.3     24.4            116.1
geol1407  ug        n           126.0   134.8     48.6            115.8
geol1408  ug        n            69.3    76.3     22.8             53.0
govt2305  ug        n           574.7   601.4    356.7            209.8
govt2306  ug        n           539.0   551.4    166.7             48.8
hist1301  ug        n           580.9   599.7    124.8             30.0
hist1302  ug        n           162.5   169.4     88.8            125.1
huma1315  ug        n            31.2    32.5      5.2             20.8
math1314  ug        n           941.9   958.8    182.8             25.7
math1316  ug        n            36.8    40.6      2.4              7.4
math1324  ug        n           446.0   467.9    170.8             67.5
math1342  ug        n           433.6   454.8    207.1             96.3
math2412  ug        n           385.5   401.3     34.5             10.2
math2413  ug        n           181.3   191.0     76.9             91.6
musi1310  ug        n           254.0   269.1    136.2            144.9
musi1311  ug        n            57.9    63.0      1.1              2.3
phil1301  ug        n           144.2   154.0     47.7             61.2
phil2303  ug        n            34.7    37.3      7.2             32.5
psyc2301  ug        n           534.8   557.2    143.9             38.7
soci1301  ug        n           191.9   197.2    120.6            180.0
univ0200  ug        n           343.5   354.7    192.0            136.1
univ0204  ug        n           405.9   429.1    103.8             35.3
univ0301  ug        n           527.6   550.3    182.9             54.8
univ0314  ug        n           195.8   202.5     84.4             80.4
univ0342  ug        n            70.2    74.8     17.5             35.0

In [10]:
M = self.mlt['all'].reset_index()
M

,crse_code,levl_code,styp_code,pred_code,train_code,mlt_code,mlt_actual,mlt_predicted
0,_allcrse,ug,n,202108,202108,202108,1.213477,1.213477
1,_allcrse,ug,n,202108,202108,202208,1.213477,1.191821
2,_allcrse,ug,n,202108,202108,202308,1.213477,1.126408
3,_allcrse,ug,n,202108,202208,202108,1.191821,1.213477
4,_allcrse,ug,n,202108,202208,202208,1.191821,1.191821
...,...,...,...,...,...,...,...,...
6683,univ0342,ug,r,202408,202308,202308,<NA>,<NA>
6684,univ0342,ug,t,202408,202208,202208,1.5,1.5
6685,univ0342,ug,t,202408,202208,202308,1.5,<NA>
6686,univ0342,ug,t,202408,202308,202208,<NA>,1.5
6687,univ0342,ug,t,202408,202308,202308,<NA>,<NA>

In [14]:
Y = self.get(path | {'nm':'details'})

In [20]:
# Y.reset_index(set(Y.index.names).difference(self.summary_grp), drop=True)
Y.reset_index([k for k in Y.index.names if k not in self.summary_grp], drop=True).join(self.mlt['all'])

                                                                 predicted  \
pred_code levl_code styp_code imp crse_code train_code mlt_code
202408    ug        n         4   _allcrse  202308     202108        False
                                                       202208        False
                                                       202308        False
202208    ug        n         5   _allcrse  202308     202108        False
                                                       202208        False
...                                                                    ...
202308    ug        n         4   univ0342  202308     202208        False
                                                       202308        False
202208    ug        n         3   univ0342  202308     202108        False
                                                       202208        False
                                                       202308        False

                                                                 actual  \
pred_code levl_code styp_code imp crse_code train_code mlt_code
202408    ug        n         4   _allcrse  202308     202108     False
                                                       202208     False
                                                       202308     False
202208    ug        n         5   _allcrse  202308     202108     False
                                                       202208     False
...                                                                 ...
202308    ug        n         4   univ0342  202308     202208     False
                                                       202308     False
202208    ug        n         3   univ0342  202308     202108     False
                                                       202208     False
                                                       202308     False

                                                                 mlt_actual  \
pred_code levl_code styp_code imp crse_code train_code mlt_code
202408    ug        n         4   _allcrse  202308     202108      1.126408
                                                       202208      1.126408
                                                       202308      1.126408
202208    ug        n         5   _allcrse  202308     202108      1.126408
                                                       202208      1.126408
...                                                                     ...
202308    ug        n         4   univ0342  202308     202208       1.06383
                                                       202308       1.06383
202208    ug        n         3   univ0342  202308     202108       1.06383
                                                       202208       1.06383
                                                       202308       1.06383

                                                                 mlt_predicted
pred_code levl_code styp_code imp crse_code train_code mlt_code
202408    ug        n         4   _allcrse  202308     202108         1.213477
                                                       202208         1.191821
                                                       202308         1.126408
202208    ug        n         5   _allcrse  202308     202108         1.213477
                                                       202208         1.191821
...                                                                        ...
202308    ug        n         4   univ0342  202308     202208         1.151515
                                                       202308          1.06383
202208    ug        n         3   univ0342  202308     202108             <NA>
                                                       202208         1.151515
                                                       202308          1.06383

[39883050 rows x 4 columns]

In [11]:
path = {'nm':'summary', 'styp_code':'all'}
Y = self.get(path | {'nm':'details'})

In [13]:
self.mlt['all']

                                                             mlt_actual  \
crse_code levl_code styp_code pred_code train_code mlt_code
_allcrse  ug        n         202108    202108     202108      1.213477
                                                   202208      1.213477
                                                   202308      1.213477
                                        202208     202108      1.191821
                                                   202208      1.191821
...                                                                 ...
univ0342  ug        r         202408    202308     202308          <NA>
                    t         202408    202208     202208           1.5
                                                   202308           1.5
                                        202308     202208          <NA>
                                                   202308          <NA>

                                                             mlt_predicted
crse_code levl_code styp_code pred_code train_code mlt_code
_allcrse  ug        n         202108    202108     202108         1.213477
                                                   202208         1.191821
                                                   202308         1.126408
                                        202208     202108         1.213477
                                                   202208         1.191821
...                                                                    ...
univ0342  ug        r         202408    202308     202308             <NA>
                    t         202408    202208     202208              1.5
                                                   202308             <NA>
                                        202308     202208              1.5
                                                   202308             <NA>

[6688 rows x 2 columns]

In [14]:
path = {'nm':'summary', 'styp_code':'all'}
Y = self.get(path | {'nm':'details'})
Y = Y.reset_index([k for k in Y.index.names if k not in self.summary_grp], drop=True).join(self.mlt['all']).reset_index().copy()
# Y = self.get(path | {'nm':'details'}).reset_index(self.summary_grp).reset_index(drop=True).copy()#.merge(M)

In [16]:
Y

,pred_code,levl_code,styp_code,imp,crse_code,train_code,mlt_code,predicted,actual,mlt_actual,mlt_predicted
0,202408,ug,n,4,_allcrse,202308,202108,False,False,1.126408,1.213477
1,202408,ug,n,4,_allcrse,202308,202208,False,False,1.126408,1.191821
2,202408,ug,n,4,_allcrse,202308,202308,False,False,1.126408,1.126408
3,202208,ug,n,5,_allcrse,202308,202108,False,False,1.126408,1.213477
4,202208,ug,n,5,_allcrse,202308,202208,False,False,1.126408,1.191821
...,...,...,...,...,...,...,...,...,...,...,...
39883045,202308,ug,n,4,univ0342,202308,202208,False,False,1.06383,1.151515
39883046,202308,ug,n,4,univ0342,202308,202308,False,False,1.06383,1.06383
39883047,202208,ug,n,3,univ0342,202308,202108,False,False,1.06383,<NA>
39883048,202208,ug,n,3,univ0342,202308,202208,False,False,1.06383,1.151515
39883049,202208,ug,n,3,univ0342,202308,202308,False,False,1.06383,1.06383

In [17]:
for k in ['predicted','actual']:
    Y['mlt_'+k] *= Y[k]
Y

,pred_code,levl_code,styp_code,imp,crse_code,train_code,mlt_code,predicted,actual,mlt_actual,mlt_predicted
0,202408,ug,n,4,_allcrse,202308,202108,False,False,0.0,0.0
1,202408,ug,n,4,_allcrse,202308,202208,False,False,0.0,0.0
2,202408,ug,n,4,_allcrse,202308,202308,False,False,0.0,0.0
3,202208,ug,n,5,_allcrse,202308,202108,False,False,0.0,0.0
4,202208,ug,n,5,_allcrse,202308,202208,False,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
39883045,202308,ug,n,4,univ0342,202308,202208,False,False,0.0,0.0
39883046,202308,ug,n,4,univ0342,202308,202308,False,False,0.0,0.0
39883047,202208,ug,n,3,univ0342,202308,202108,False,False,0.0,<NA>
39883048,202208,ug,n,3,univ0342,202308,202208,False,False,0.0,0.0
39883049,202208,ug,n,3,univ0342,202308,202308,False,False,0.0,0.0

In [5]:
P = [Y]
# # P = [q for p in P for q in [p, p.assign(styp_code ='all')]]
# # P = [q for p in P for q in [p, p.assign(train_code='all')]]
P[0]
with warnings.catch_warnings(action='ignore'):
    S = pd.concat([self.summarize(p) for p in P])

In [6]:
S.loc[S.eval("train_code=='all'"), ['predicted','actual','error']] /= Y['train_code'].nunique()
S.loc[S.eval(f"actual==0 or pred_code=={self.pred_code}"), 'actual':] = pd.NA
S = S.reset_index()
S['levl_desc'] = S['levl_code'].map({'ug':'undergraduate', 'g':'graduate'})
S['styp_desc'] = S['styp_code'].map({'n':'new first time', 't':'transfer', 'r':'returning', 'all':'all incoming'})
for k in ['pred','train','mlt']:
    S[k+'_desc'] = 'Fall ' + S[k+'_code'].astype('string').str[:4]
S.vc('pred_code').disp(100)
S = S.set_index(['crse_code','levl_code','levl_desc','styp_code','styp_desc','pred_code','pred_desc','train_code','train_desc','mlt_code','mlt_desc','imp'])
S

                                                                                                                             predicted  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0       1542.0
                                                                                                                        1       1535.0
                                                                                                                        2       1531.0
                                                                                                                        3       1544.0
                                                                                                                        4       1557.0
...                                                                                                                                ...
univ0342  ug        undergraduate n         new first time 202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5         61.0
                                                                                                                        6         64.0
                                                                                                                        7         63.0
                                                                                                                        8         65.0
                                                                                                                        9         60.0

                                                                                                                             actual  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0    1766.0
                                                                                                                        1    1766.0
                                                                                                                        2    1766.0
                                                                                                                        3    1766.0
                                                                                                                        4    1766.0
...                                                                                                                             ...
univ0342  ug        undergraduate n         new first time 202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5       NaN
                                                                                                                        6       NaN
                                                                                                                        7       NaN
                                                                                                                        8       NaN
                                                                                                                        9       NaN

                                                                                                                             error  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0   -224.0
                                                                                                                        1   -231.0
                                                                                                                        2   -235.0
                                                                                                                        3   -222.0
                                                                                                                        4   -209.0
...                                                                                                                            ...
univ0342  ug        undergraduate n         new first time 202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5      NaN
                                                                                                                        6      NaN
                                                                                                                        7      NaN
                                                                                                                        8      NaN
                                                                                                                        9      NaN

                                                                                                                             error_pct  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0   -12.684032
                                                                                                                        1   -13.080408
                                                                                                                        2   -13.306908
                                                                                                                        3   -12.570781
                                                                                                                        4   -11.834655
...                                                                                                                                ...
univ0342  ug        undergraduate n         new first time 202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5          NaN
                                                                                                                        6          NaN
                                                                                                                        7          NaN
                                                                                                                        8          NaN
                                                                                                                        9          NaN

                                                                                                                                    f1
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0    30.834341
                                                                                                                        1    31.596486
                                                                                                                        2    32.059448
                                                                                                                        3    31.480363
                                                                                                                        4    31.086368
...                                                                                                                                ...
univ0342  ug        undergraduate n         new first time 202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5          NaN
                                                                                                                        6          NaN
                                                                                                                        7          NaN
                                                                                                                        8          NaN
                                                                                                                        9          NaN

[5400 rows x 5 columns]

In [9]:
S.query("crse_code=='_allcrse'")

                                                                                                                             predicted  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0       1542.0
                                                                                                                        1       1535.0
                                                                                                                        2       1531.0
                                                                                                                        3       1544.0
                                                                                                                        4       1557.0
...                                                                                                                                ...
                                                           202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5       2696.0
                                                                                                                        6       2683.0
                                                                                                                        7       2707.0
                                                                                                                        8       2665.0
                                                                                                                        9       2689.0

                                                                                                                             actual  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0    1766.0
                                                                                                                        1    1766.0
                                                                                                                        2    1766.0
                                                                                                                        3    1766.0
                                                                                                                        4    1766.0
...                                                                                                                             ...
                                                           202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5       NaN
                                                                                                                        6       NaN
                                                                                                                        7       NaN
                                                                                                                        8       NaN
                                                                                                                        9       NaN

                                                                                                                             error  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0   -224.0
                                                                                                                        1   -231.0
                                                                                                                        2   -235.0
                                                                                                                        3   -222.0
                                                                                                                        4   -209.0
...                                                                                                                            ...
                                                           202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5      NaN
                                                                                                                        6      NaN
                                                                                                                        7      NaN
                                                                                                                        8      NaN
                                                                                                                        9      NaN

                                                                                                                             error_pct  \
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0   -12.684032
                                                                                                                        1   -13.080408
                                                                                                                        2   -13.306908
                                                                                                                        3   -12.570781
                                                                                                                        4   -11.834655
...                                                                                                                                ...
                                                           202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5          NaN
                                                                                                                        6          NaN
                                                                                                                        7          NaN
                                                                                                                        8          NaN
                                                                                                                        9          NaN

                                                                                                                                    f1
crse_code levl_code levl_desc     styp_code styp_desc      pred_code pred_desc train_code train_desc mlt_code mlt_desc  imp
_allcrse  ug        undergraduate n         new first time 202108    Fall 2021 202308     Fall 2023  202108   Fall 2021 0    30.834341
                                                                                                                        1    31.596486
                                                                                                                        2    32.059448
                                                                                                                        3    31.480363
                                                                                                                        4    31.086368
...                                                                                                                                ...
                                                           202408    Fall 2024 202308     Fall 2023  202308   Fall 2023 5          NaN
                                                                                                                        6          NaN
                                                                                                                        7          NaN
                                                                                                                        8          NaN
                                                                                                                        9          NaN

[120 rows x 5 columns]

                              2023 error_pct                      2023 actual  \
                                          0%  25%  50%  75%  100%         50%
crse_code levl_code styp_code
_allcrse  ug        n                    0.4  0.6  0.9  1.0   1.3      2397.0
agec2317  ug        n                   -2.5 -1.5 -0.5  0.5   2.5       200.0
ansc1119  ug        n                   -2.0 -0.7 -0.2  0.0   1.3       306.0
ansc1319  ug        n                   -0.9 -0.4  0.7  0.9   2.3       344.0
arts1301  ug        n                   -2.8  0.0  0.9  1.9   2.8       106.0
biol1406  ug        n                   -0.8 -0.5  0.0  0.7   1.0       614.0
biol1407  ug        n                    0.0  0.0  0.0  0.0   3.0        33.0
biol2401  ug        n                   -1.9 -0.9 -0.2  0.2   2.1       432.0
biol2402  ug        n                   -4.8  0.0  0.0  4.8   4.8        21.0
busi1301  ug        n                   -1.8 -0.9 -0.5  0.5   0.9       220.0
chem1111  ug        n                    0.0  1.2  2.4  2.4   4.9        82.0
chem1302  ug        n                   -2.7  0.0  0.0  2.7   2.7        37.0
chem1311  ug        n                   -1.2 -1.2  1.2  2.4   3.6        84.0
comm1311  ug        n                   -0.6  1.9  2.8  4.4   6.4       362.0
comm1315  ug        n                   -2.4 -1.2 -0.6  0.0   0.8       254.0
comm2302  ug        n                   -5.0 -1.7 -0.8  1.7   3.3        60.0
crij1301  ug        n                   -4.8 -3.6 -1.2  0.0   2.4        83.0
dram1310  ug        n                   -2.1  0.0  1.0  4.2   8.3        48.0
econ2301  ug        n                    0.0  0.0  0.0  0.0   5.0        20.0
engl1301  ug        n                   -2.8 -1.4 -0.8  0.6   0.9      1172.0
engl1302  ug        n                   -2.5 -1.2  0.6  1.2   2.5        81.0
geol1403  ug        n                   -1.1  0.0  0.0  1.1   2.2        89.0
geol1404  ug        n                    0.0  0.0  0.0  0.0   0.0        20.0
geol1407  ug        n                   -2.5 -2.5  1.2  2.5   2.5        40.0
geol1408  ug        n                    0.0  0.0  0.0  0.0   2.5        40.0
govt2305  ug        n                   -3.3  0.0  0.7  2.6   5.9       153.0
govt2306  ug        n                   -2.3 -1.3  0.2  1.3   4.8       310.0
hist1301  ug        n                   -2.2 -1.7 -1.1 -0.6   0.0       360.0
hist1302  ug        n                   -1.7 -1.7  0.0  0.0   1.7        59.0
huma1315  ug        n                   -5.0  0.0  0.0  0.0   0.0        20.0
math1314  ug        n                   -2.7 -2.2 -1.5 -0.5  -0.2       639.0
math1316  ug        n                   -7.7 -3.8  0.0  0.0   3.8        26.0
math1324  ug        n                   -0.9 -0.5 -0.5  1.4   1.9       214.0
math1342  ug        n                   -6.8 -3.1 -2.1  1.6   3.1       191.0
math2412  ug        n                   -1.3 -1.3 -0.6  1.6   3.8       316.0
math2413  ug        n                   -1.5 -1.5  0.0  1.5   4.5        66.0
musi1310  ug        n                   -5.1 -3.8 -3.2  0.0  12.8        78.0
musi1311  ug        n                   -2.3  0.0  0.0  0.0   0.0        44.0
phil1301  ug        n                   -4.4 -1.5  0.0  1.5   5.9        68.0
phil2303  ug        n                    0.0  0.0  0.0  0.0   0.0        20.0
psyc2301  ug        n                   -1.5 -0.9 -0.1  0.3   1.2       339.0
soci1301  ug        n                   -3.4 -1.7  0.0  0.0   3.4        59.0
univ0200  ug        n                   -3.4 -0.9  0.4  4.3   6.0       117.0
univ0204  ug        n                   -5.7 -2.0 -1.2  2.8   8.5       247.0
univ0301  ug        n                   -5.0 -2.2 -0.5  2.5   2.9       279.0
univ0314  ug        n                   -3.4  0.0  1.1  2.2   2.2        89.0
univ0342  ug        n                   -4.3 -2.1  0.0  2.1   4.3        47.0

                              2024 predicted                                  \
                                          0%     25%     50%     75%    100%
crse_code levl_code styp_code
_allcrse  ug        n                 2665.0  2683.0  2687.0  2707.0  2710.0
agec2317  ug        n                  234.0   242.0   248.5   253.0   260.0
ansc1119  ug        n                  338.0   339.0   342.5   344.5   353.0
ansc1319  ug        n                  437.0   441.2   444.5   450.8   454.0
arts1301  ug        n                  220.0   224.0   227.5   229.0   231.0
biol1406  ug        n                  722.0   733.0   736.5   744.0   752.0
biol1407  ug        n                   58.0    61.0    62.0    64.0    68.0
biol2401  ug        n                  555.0   559.0   567.5   573.0   585.0
biol2402  ug        n                   52.0    58.0    61.5    66.0    68.0
busi1301  ug        n                  294.0   301.0   306.5   308.0   312.0
chem1111  ug        n                  120.0   121.0   125.0   126.0   129.0
chem1302  ug        n                   32.0    34.0    34.5    39.0    39.0
chem1311  ug        n                  113.0   117.0   119.0   120.0   122.0
comm1311  ug        n                  472.0   478.0   482.5   494.0   503.0
comm1315  ug        n                  335.0   344.0   346.0   351.0   356.0
comm2302  ug        n                  120.0   125.0   125.5   128.0   128.0
crij1301  ug        n                   85.0    90.0    91.0    94.0    99.0
dram1310  ug        n                  110.0   112.0   112.5   114.0   121.0
econ2301  ug        n                   36.0    37.0    37.0    38.0    39.0
engl1301  ug        n                 1429.0  1442.0  1458.0  1461.0  1477.0
engl1302  ug        n                   91.0    93.0    94.0    95.0   100.0
geol1403  ug        n                   86.0    87.0    90.0    91.0    95.0
geol1404  ug        n                   37.0    38.0    38.5    40.0    40.0
geol1407  ug        n                   70.0    72.0    73.0    74.0    77.0
geol1408  ug        n                   56.0    58.0    59.5    62.0    65.0
govt2305  ug        n                  395.0   409.0   416.0   424.0   428.0
govt2306  ug        n                  430.0   437.0   439.0   443.0   447.0
hist1301  ug        n                  417.0   434.0   438.5   446.0   448.0
hist1302  ug        n                  127.0   131.0   133.5   134.0   138.0
huma1315  ug        n                   25.0    25.0    25.0    26.0    26.0
math1314  ug        n                  756.0   779.0   782.5   790.0   793.0
math1316  ug        n                   26.0    29.0    30.5    31.0    32.0
math1324  ug        n                  300.0   306.0   309.0   312.0   321.0
math1342  ug        n                  374.0   385.0   391.5   399.0   404.0
math2412  ug        n                  315.0   322.0   332.0   336.0   345.0
math2413  ug        n                  111.0   112.0   114.0   116.0   118.0
musi1310  ug        n                  176.0   186.0   191.0   195.0   197.0
musi1311  ug        n                   44.0    45.0    45.0    46.0    49.0
phil1301  ug        n                   99.0   103.0   106.0   109.0   110.0
phil2303  ug        n                   26.0    26.0    26.5    27.0    28.0
psyc2301  ug        n                  442.0   450.0   455.5   461.0   473.0
soci1301  ug        n                  130.0   131.0   133.0   135.0   136.0
univ0200  ug        n                  261.0   268.0   277.0   281.0   286.0
univ0204  ug        n                  309.0   318.0   322.5   328.0   342.0
univ0301  ug        n                  411.0   420.0   426.0   433.0   448.0
univ0314  ug        n                  158.0   159.0   164.0   166.0   170.0
univ0342  ug        n                   59.0    61.0    63.5    65.0    65.0

                              increase increase_percent

crse_code levl_code styp_code
_allcrse  ug        n            290.0             12.1
agec2317  ug        n             48.5             24.2
ansc1119  ug        n             36.5             11.9
ansc1319  ug        n            100.5             29.2
arts1301  ug        n            121.5            114.6
biol1406  ug        n            122.5             20.0
biol1407  ug        n             29.0             87.9
biol2401  ug        n            135.5             31.4
biol2402  ug        n             40.5            192.9
busi1301  ug        n             86.5             39.3
chem1111  ug        n             43.0             52.4
chem1302  ug        n             -2.5             -6.8
chem1311  ug        n             35.0             41.7
comm1311  ug        n            120.5             33.3
comm1315  ug        n             92.0             36.2
comm2302  ug        n             65.5            109.2
crij1301  ug        n              8.0              9.6
dram1310  ug        n             64.5            134.4
econ2301  ug        n             17.0             85.0
engl1301  ug        n            286.0             24.4
engl1302  ug        n             13.0             16.0
geol1403  ug        n              1.0              1.1
geol1404  ug        n             18.5             92.5
geol1407  ug        n             33.0             82.5
geol1408  ug        n             19.5             48.8
govt2305  ug        n            263.0            171.9
govt2306  ug        n            129.0             41.6
hist1301  ug        n             78.5             21.8
hist1302  ug        n             74.5            126.3
huma1315  ug        n              5.0             25.0
math1314  ug        n            143.5             22.5
math1316  ug        n              4.5             17.3
math1324  ug        n             95.0             44.4
math1342  ug        n            200.5            105.0
math2412  ug        n             16.0              5.1
math2413  ug        n             48.0             72.7
musi1310  ug        n            113.0            144.9
musi1311  ug        n              1.0              2.3
phil1301  ug        n             38.0             55.9
phil2303  ug        n              6.5             32.5
psyc2301  ug        n            116.5             34.4
soci1301  ug        n             74.0            125.4
univ0200  ug        n            160.0            136.8
univ0204  ug        n             75.5             30.6
univ0301  ug        n            147.0             52.7
univ0314  ug        n             75.0             84.3
univ0342  ug        n             16.5             35.1

In [ ]:
A

In [ ]:
self['summary']['all']

In [ ]:
M = self.mlt['all']
M.query("crse_code=='math1314' & styp_code=='n'")

In [ ]:
A = self['details']['all'].query("crse_code=='math1314'")
A.vc('pred_code')

In [ ]:
Y = A.join(M).reset_index(self.summary_grp).reset_index(drop=True)#.set_index(self.summary_grp)

In [ ]:
for k in ['predicted','actual']:
    Y['mlt_'+k] = Y['mlt_'+k] * Y[k]
Y.disp(1)

In [ ]:
S = self.summarize(Y)
S.disp(200)

In [ ]:
S.loc[S.eval("train_code=='all'"), ['predicted','actual','error']] /= Y['train_code'].nunique()
S.loc[S.eval(f"actual==0 or pred_code=={self.pred_code}"), 'actual':] = pd.NA
S = S.reset_index()
S['levl_desc'] = S['levl_code'].map({'ug':'undergraduate', 'g':'graduate'})
S['styp_desc'] = S['styp_code'].map({'n':'new first time', 't':'transfer', 'r':'returning', 'all':'all incoming'})
for k in ['pred','train','mlt']:
    S[k+'_desc'] = 'Fall ' + S[k+'_code'].astype('string').str[:4]
S.vc('pred_code').disp(100)
A = S.set_index(['crse_code','levl_code','levl_desc','styp_code','styp_desc','pred_code','pred_desc','train_code','train_desc','mlt_code','mlt_desc','imp'])

In [ ]:
B.missing()
mask = B.isnull().any(axis=1)
B[mask].reset_index()[self.mlt_grp].dtypes.disp(10)

In [ ]:
M.query("crse_code=='agec2317'").reset_index().dtypes

In [ ]:
B.missing()

In [ ]:
C = B.copy()
for k in ['predicted','actual']:
    C['mlt_'+k] = C['mlt_'+k] * C[k]
C.vc('pred_code').disp(100)

In [ ]:
Y = C.copy()
repl = {k+'_mlt':k for k in ['predicted','actual']} | {'mlt_code':'train_code'}
for k, v in repl.items():
    if k not in Y:
        Y[k] = Y[v]
Y.vc('pred_code').disp(100)

In [ ]:
Z = Y.groupby(self.summary_grp, dropna=False)[['predicted_mlt']].sum()
Z.vc('pred_code').disp(100)

In [ ]:
Z.query("crse_code=='agec2317'").disp(500)

In [ ]:
Z.groupby(self.mlt_grp, dropna=False).size().to_frame().query("crse_code=='agec2317'")
# M = self.mlt['all']
# # .reset_index().missing()
# mask = M.isnull().any(axis=1)
# M[mask].sort_index()

In [ ]:
Z.query('pred_code<202408').groupby(['crse_code','pred_code','mlt_code'], dropna=False).size().disp(200)
# .groupby('pred_code', dropna=False).size().disp(200)

#

In [ ]:
A